sales/migrations/__pycache__/0003_auto_20220602_1110.cpython-37.pyc
sales/migrations/__pycache__/0004_auto_20220602_1111.cpython-37.pyc
Car_Selling/__pycache__/

Car_Selling/forms.py

Car_Selling/settings.py

db.sqlite3

sales/__pycache__/
sales/__pycache__/forms.cpython-37.pyc
sales/__pycache__/models.cpython-37.pyc
sales/__pycache__/views.cpython-37.pyc
sales/migrations/0001_initial.py
sales/migrations/0002_auto_20220602_1027.py
sales/migrations/__pycache__/0001_initial.cpython-37.pyc

sales/migrations/
Car_Selling/migrations/

media/

Car_Selling/.env