{% extends "base.html" %} {% load tailwind_filters %} {% block content %}
{% load static %}
<style>
   body {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
   }
   * {
      box-sizing: border-box;
   }
   .card {
      color: white;
      float: left;
      width: calc(25% - 20px);
      padding: 10px;
      border-radius: 10px;
      margin: 10px;
      height: 300px;
   }
   .card p {
      font-size: 18px;
   }
   .cardContainer:after {
      content: "";
      display: table;
      clear: both;
   }
   @media screen and (max-width: 600px) {
      .card {
         width: 100%;
      }
   }
</style>
<section>

{% comment %} Listing list Heading {% endcomment %}

<div class="container jumbotron-container cardContainer grid">
   <div class = "width-100 px-4 mx-4 bg-gray-400 rounded px-4 py-40">
      <div>
         <form method = "GET">
            <label for="years_id">Year:</label>
            <select id="years_id" name="years">
               <option value="" selected>All Years</option>
               {% for year in years %}
               
                  <option value="{{year}}">{{year}}</option>
               {% endfor %}
              
            </select>

            <label for="car_makers_id">Company:</label>
            <select id="car_makers_id" name="car_makers">
               <option value="" selected>All Companies</option>
               {% for company in car_makers %}
               
                  <option value="{{company}}">{{company}}</option>
               {% endfor %}
              
            </select>
            
            <button type = "submit">Filter<button>
         </div>
       </div>
         
       </form>
      
      
      
      
      
      {% comment %} table contents {% endcomment %}
      
      <table class="table-auto ">
         <thead>
           <tr>
               <th class = "px-4 py-4">Picture</th>
               <th class = "px-4 py-4">Model</th>
               <th class = "px-4 py-4">Make</th>
               <th class = "px-4 py-4">Year</th>
               <th class = "px-4 py-4">Condition</th>
               <th class = "px-4 py-4">Asking Price</th>
               <th class = "px-4 py-4">Status</th>
           </tr>
         </thead>
         <tbody>
            {% for listing in listings %}
            
            <tr>
               {% if listing.picture %}
               <td class = "px-4 py-4">
                  <img src = "{% static listing.picture %}" width="190" height="190">
               </td>
               {% else %}
               <td class = "px-4 py-4">
                  <img src = "https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg" style="height:190px; width:190px">
               </td>
               {% endif %}
               <td class = "px-4 py-4">{{listing.model_name}}</td>
               <td class = "px-4 py-4">{{listing.make}}</td>
               <td class = "px-4 py-4">{{listing.year}}</td>
               <td class = "px-4 py-4">{{listing.condition}}</td>
               <td class = "px-4 py-4">{{listing.price}}</td>
               <td class = "px-4 py-4">Buy now</td>
            </tr>
         {% endfor %}
         </tbody>
       </table>
   </div>
   
{% endblock %}