{% extends "base.html" %} {% load tailwind_filters %} {% block content %}
{% load static %}
<style>
   body {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
   }
   * {
      box-sizing: border-box;
   }
   .card {
      color: white;
      float: left;
      width: calc(25% - 20px);
      padding: 10px;
      border-radius: 10px;
      margin: 10px;
      height: 300px;
   }
   .card p {
      font-size: 18px;
   }
   .cardContainer:after {
      content: "";
      display: table;
      clear: both;
   }
   @media screen and (max-width: 600px) {
      .card {
         width: 100%;
      }
   }
</style>
<section>

{% comment %} Listing list Heading {% endcomment %}

<div class="container jumbotron-container cardContainer grid">
   <div class = "width-100 px-4 mx-4 bg-gray-400 rounded px-4 py-40">
      <div>

         <button id="dropdownButton" data-dropdown-toggle="dropdown" 
         class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" 
         type="button">
         {{current_category}}
         <svg class="ml-2 w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
         </svg></button>

         <!-- Dropdown menu -->
         <div id="dropdown" class="hidden z-10 w-44 text-base list-none bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700">
               <ul class="py-1" aria-labelledby="dropdownButton">
               
               <li>
                  <a href="" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">All Items</a>
               </li>
               {% for cat in categories %}
                  {% comment %} {% if cat.id == selected_cat %}
                     <option selected value="{{cat}}">{{cat}}</option> {% endcomment %}
                     <li>
                     <a    ="" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
                        {{cat}}
                     </a>
                     </li>
                  {% endfor %}
               </ul>
         </div>
      </div>
      <table class="table-auto ">
         <thead>
           <tr>
               <th class = "px-4 py-4">Picture</th>
               <th class = "px-4 py-4">Model</th>
               <th class = "px-4 py-4">Make</th>
               <th class = "px-4 py-4">Year</th>
               <th class = "px-4 py-4">Condition</th>
               <th class = "px-4 py-4">Asking Price</th>
               <th class = "px-4 py-4">Status</th>
           </tr>
         </thead>
         <tbody>
            {% for listing in listings %}
            
            <tr>
               {% if listing.picture %}
               <td class = "px-4 py-4">
                  <img src = "{% static listing.picture %}" width="190" height="190">
               </td>
               {% else %}
               <td class = "px-4 py-4">
                  <img src = "https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg" style="height:190px; width:190px">
               </td>
               {% endif %}
               <td class = "px-4 py-4">{{listing.model_name}}</td>
               <td class = "px-4 py-4">{{listing.make}}</td>
               <td class = "px-4 py-4">{{listing.year}}</td>
               <td class = "px-4 py-4">{{listing.condition}}</td>
               <td class = "px-4 py-4">{{listing.price}}</td>
               <td class = "px-4 py-4">Buy now</td>
            </tr>
         {% endfor %}
         </tbody>
       </table>
   </div>
   
{% endblock %}